# workflow to run the dkb-robo unittest suite

name: Python Tests

on:
  push:
  pull_request:
    branches: [ devel ]
  schedule:
    # * is a special character in YAML so you have to quote this string
    - cron:  '0 2 * * 6'
jobs:
  pylint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python_version: [3.x, 3.8]
    name: Pylint test (${{ matrix.python_version }})
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python_version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python_version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pylint pylint-exit
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
      - name: "Pylint folder: dkb_robo"
        run: |
          pylint --rcfile=".github/pylintrc" dkb_robo/ || pylint-exit $?
